<div class="row">
 	<fieldset class="small-6 small-offset-3 columns">
 		<legend>Edit</legend>
 		<%= form_for @user do |user| %>
  		<h3><%= user.label :name %></h3>
  		<%= user.text_field :name %>
  		<h4><%= user.submit class: "button" %></h4>
  	<% end %>
  </fieldset>
</div>