<h2>My Submissions:</h2>
	<% @submissions.each do |c| %>
		<div class="row">
			<div class="small-3 columns">
				<h3><%= c.title %></h3>
				<h4><%= link_to 'View', submission_path(c.id) %></h4>
			</div>	
	</div>

<% end %>