<div class="row">
	<div class="small-6 column">
		My Submissions:
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="small-6 column">
		<% @submissions.each do |c| %>
			<ul>
				<li>
					<%= c.title %>
				</li>
				<li>
					<%= link_to 'View', submission_path(c.id) %>
				</li>	
			</ul>
		<% end %>
	</div>
</div>