<div class="row">
	<div class="small-6 column">
		<h3>My Submissions:</h3>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="small-6 column">
		<% @submissions.each do |c| %>
			<ul>
				<li>
					<h4><%= c.title %></h4>
				</li>
				<li>
					<h5><%= link_to 'View', submission_path(c.id) %></h5>
				</li>	
			</ul>
		<% end %>
	</div>
</div>