<% @submissions.each do |s| %>
<div class="row">
	<div class="small-12 columns">
		<h3><%= s.title %></h3>
			<h4><%= s.campaign.title %></h4>
		<h4><%= link_to 'View', submission_path(s.id) %></h4>
	</div>
</div>

<% end %>

