<div class="row">
	<div class="small-12">
		<h2>Submit Copy</h2>
	</div>
</div>

<div class="row">
	<div class="small-8">
		<%= form_for @submission do |i| %>
			<%= i.text_field :content %>
			<%= i.hidden_field :cid, :value => params[:id]%>
			<%= i.submit %>
		<% end %>
	</div>
</div>