<div class="row">
	<div class="small-12 columns">
		<h3><%= @submission.title %></h3>
		<h4><%= @submission.campaign.title %></h4>
		<h5><%= @submission.content %></h5>
		<h4><%= link_to 'Back', submissions_path%></h4>
	</div>
</div>


	
	