<div class="container">
  <div class="dashboard">
    <% if Userbin.current_user.image %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 thumbnail">
        </div>
      </div>
    <% else %>
    pooooooooooo
    <% end %>
    <h1>Welcome <%= Userbin.current_user.email %>!</h1>
    <%= link_to 'Edit Profile', account_path %>
  </div>
</div>