<br>
		
	
<div class="row horiz">
	<fieldset class="small-10 small-offset-1 column">	
		<legend>Live Campaigns</legend>
		<ul class=" large-block-grid-3 mediumn-block-grid-3 large-block-grid-3">
			<% @campaigns.each do |c| %>
				<% if c.status == "Live" %>	
					<li>
						<fieldset>
								<legend><%= c.title %></legend>	
								<%= link_to 'View', campaign_path(c.id), :class => "button"  %>
								
								<h4>$<%= c.price %></h4>
						</fieldset>
					</li>
				<% end %>
			<% end %>
		</ul>		
	</fieldset>
</div>




