<div class="row">
	<fieldset class="small-6 small-offset-3">
			<legend>Thanks!</legend>
			<h4 >Thanks for your payment, please check your email for a receipt. </h4>
		<div ><%= link_to 'Home', account_path, :class => "button"  %></div>	
				
	</fieldset>
</div>
