

<%= form_for @charge do |f| %>
	<div class="row">
  		<div class="small-3">
  			 <h4></h4>
  		</div>
  		<div class="small-6">
  			<h4>
  			<%= f.label :charge%>	
  			<%= f.text_field :charge %>
  			<%= f.submit %>
  		</div>
	</div>
    <% end %>


