 <div class="row">
	<div class="small-12 columns">
			
			<%= @charge.charge %>
			
	</div>
</div>

 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount='<%= @charge.charge %>'</script>
