<% if Userbin.user_logged_in? %>
    <% else %>

      <div class="row navyBG">
            <div class="small-1 columns">
                
            </div>
            <div class="small-12 columns navyBG">
              
              
              <br>
              <h3 class="whiteLetterPenBG">WORK ON YOUR PRODUCT.</h3>
                  <h3 class="whiteLetterPenBG">NOT YOUR CONTENT.</h3>
                  <br>
                  <h1 class="whiteLetterPenBG">EGGPLANT.</h1> 
                  <br>
                  <h3 class="whiteLetterPenBG">SIMPLE. FAST. RELIABLE.</h3>
                  <br>
            </div>
      </div>
   
    <div class="row">
      <div class="small-3 columns yellowBG greyFont">
            <h3>
            <br>
            SIMPLE.
            <br>
            <br>
            </h3> 
      </div>
      <div class="small-3  columns yellowBG greyFont">
            <h3>
            <br>
            MUSTACHE.
            <br>
            <br>
            </h3> 
        
      </div>
      <div class="small-3  columns yellowBG greyFont">
            <h3>
            <br>
           ALL CAPS.
            <br>
            <br>
            </h3> 
        
      </div>
      <div class="small-3  columns yellowBG greyFont">
            <h3>
            <br>
            HIPSTER.
            <br>
            <br>
            </h3> 
        
      </div>
    
    </div>
    <div class="row">
      
      <div class="small-12 columns navyBG whiteLetterPenBG">
        <br>
        <br>
        <h6 class="whiteLetterPenBG">
          Tattooed yr eu before they sold out plaid. Pour-over et food truck voluptate commodo, ut ea nisi Shoreditch sapiente Vice pariatur cliche Neutra fugiat. Cred you probably haven't heard of them selfies post-ironic, yr stumptown raw denim hashtag scenester mustache. Kogi bitters Banksy, tofu kitsch exercitation non umami. Before they sold out actually Shoreditch delectus chambray try-hard Terry Richardson, synth typewriter. Lo-fi Pitchfork craft beer salvia kale chips. Synth dolore Austin, pop-up polaroid keytar Odd Future craft beer Etsy.
        </h6>
        <br>
        <br>
      </div>  
    </div>
    <!-- Footer -->
 
        <% end %>
    <!-- End Footer -->