<% if Userbin.user_logged_in? %>
    <% else %>

      <div class="row">
          
            <div class="small-12 columns navyBG">
              
              
              <br>
              <h3 class="whiteLetterPenBG">WORK ON YOUR PRODUCT.</h3>
                  <h3 class="whiteLetterPenBG">NOT YOUR CONTENT.</h3>
                  <br>
                  <h1 class="whiteLetterPenBG">EGGPLANT.</h1> 
                  <br>
                  <h3 class="whiteLetterPenBG">SIMPLE. FAST. RELIABLE.</h3>
                  <br>
            </div>
      </div>
   
    <div class="row">
      <div class="small-3 columns yellowBG greyFont">
            <h3>
            <br>
            The.
            <br>
            <br>
            </h3> 
      </div>
      <div class="small-3  columns yellowBG greyFont">
            <h3>
            <br>
            Best.
            <br>
            <br>
            </h3> 
        
      </div>
      <div class="small-3  columns yellowBG greyFont">
            <h3>
            <br>
           Content.
            <br>
            <br>
            </h3> 
        
      </div>
      <div class="small-3  columns yellowBG greyFont">
            <h3>
            <br>
            Ever.
            <br>
            <br>
            </h3> 
        
      </div>
    
    </div>
    <div class="row landingcontent" id="tealbottom">
      
      <div class="small-12 columns whiteLetterPenBG">
        <br>
        <br>
        <h6 class="whiteLetterPenBG">
            6 hours integrating your payment solution.  14 hours implementing your primary functionality.  3 hours working on CSS.  20 hours writing tests.
          <br>
          <br>
            You spend enough time writing your code, writing content is just another headache that you shouldn't  have to deal with.  Eggplant solves that.  Simply write down what content you need generated and how much you're willing to pay and let our professional writers handle the rest.
          <br>
          <br>
            But how does this magical system work you say? It's simple!  When you submit a campaign to Eggplant our invite only content creators each take a stab at the content you need and submit it for your review.  When you find the one you love you pick the winner.  You get the content and the winner gets paid. Simple, easy, headache free. Welcome to Eggplant.
        </h6>
        <br>
        <br>
      </div>  
    </div>
    <!-- Footer -->
 
        <% end %>
    <!-- End Footer -->